<!-- <ul>
  <li><%#= link_to 'Pocket', '/auth/pocket' %></li>
</ul> -->


<!-- <span><%#= request.env["omniauth.auth"] ? "Auth hash present!" : "No auth hash" %></span>
<br> -->
<!-- <span><%#= session['pocket_omniauth_data'] ? "pocket_omniauth_data on session!: #{session['pocket_omniauth_data']}" : "No pocket_omniauth_data" %></span>
<br>
<br> -->




<% if current_user %>
  <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
    user: current_user).html_safe %>
  </script>
  <main id="root"></main>
<% else %>
  <form action="/api/session" method="post" name="login_form" >
    <%= auth_token_input %>
    <label for="username">Username</label>
    <input type="text" name="user[username]" value="">
    <br>
    <label for="password">Password</label>
    <input type="password" name="user[password]" value="">
    <br>
    <button type="submit" value="Sign in">Sign in</button>
  </form>
<% end %>
