<!DOCTYPE html>
<html>
<head>
  <title>in1box</title>
  <link rel="icon" type="image/png" href="ic_inbox_white_24dp_2x.png" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="tC-kvffEfqGbNT6h2voGVwvv2SsYaVkherFBopUaSsA" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<!-- Hello from application.html.erb!
<br /> -->
<%= yield %>

</body>
</html>
